* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body {
    color: #ededed;
    background: url(assets/fond-texture-abstrait.jpg);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;




}

.home-content {
    max-width: 100%;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h3:nth-of-type(2) {
    margin-top: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}


.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;



}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;

}

.image-section {


    max-width: 100%;


}

.image-section img {


    width: 100%;

    max-width: 630px;


}


.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    padding: 70px 10% 0;


}

.about-img img {

    max-width: 630px;
    padding-bottom: 20%;
    height: auto;
    border-radius: 50%;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;

}

.about-text p {
    color: aliceblue;
    font-size: 20px;

    line-height: 1.4;
    margin-bottom: 4rem;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;



}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;

}

.container {
    width: 100%;
    height: 100%;
    padding: 90px;
}

/* .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    
    grid-gap: 40px;
    margin-top: 50px;
} */

.services-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transforme 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 45px #0053b8f7;
    width: 100%;
    height: 100%;
    
}

.services-list div h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div i {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 0.25em;
    line-height: 1.7;
}

.read {
    display: inline-block;
    text-decoration: none;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;

}

.read:hover {

    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;



}

.services-list div:hover {
    transform: translateY(-10px);

}

.main-text {

    height: 100vh;

    padding: 70px 10% 0;

    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}

.main-text h2 {
    padding-bottom: 70px;
    font-size: 60px;
    line-height: 1;
    text-align: center;


}

.main-text h2 span {
    color: #0ef;
}

.portfolio-content  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, 400px));
    gap: 5rem;
    justify-content: center;

}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;

}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 27px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;


}
.layer a{
    text-decoration: none;
}
.layer i:hover{
    background-color: transparent;
}
.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
    text-align: center;
}



.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    margin: 15px 0;
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-text i{
    padding: 1rem;
   
    
}
.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;

}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons a {
    text-decoration: none;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form {
    position: relative;
}

.contact-form form input {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}


.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;

}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}







@media screen and (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        display: none;
    }

    .home {
        margin-top: 5rem;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 20px;
        height: 50px;
    }

    .home-content p {

        font-size: 20px;
    }

    .home-sci a {

        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #0ef;
        border-radius: 50%;
        font-size: 30px;
        color: #0ef;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: .5s ease;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(.2s * var(--i));

    }



    .btn-box {
        font-size: 16px;
        margin-top: 2rem;
        padding: 12px 28px;
    }



    .image-section {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;

    }

    .about-img {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;

    }

    .portfolio-content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;



    }

    .main-text {

        height: auto;
        padding: 70px 10% 0;
        grid-template-columns: 1fr;
    }

    .row img {
        width: 100%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        transition: none;
    }

    .row {
        position: none;
        overflow: none;
        border-radius: 8px;
        cursor: none;

        box-shadow: 1px 1px 20px #012290f7,
            1px 1px 45px #0053b8f7;


    }

    .layer {
        animation: none;
        transition: none;
        position: relative;
        opacity: 1;
        color: #fff;
        width: 100%;
        padding: 20px 40px;
        overflow: visible;
        height: auto;
        background: transparent;
        text-align: center;


    }

    .layer a {
        display: none;
    }

    .layer h5 {
        color: #0ef;
        font-size: 40px;
    }

    .layer p {
        font-size: 20px;
        color: #ededed;
    }


    .row:hover img {
        transform: none;
    }

    .row:hover .layer {
        transform: none;
        transition: none;

    }

    
    .about, .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        position: relative;
        width: 100%;
        justify-content: space-between;
        height: auto;
        padding: 70px 10% 0;
    
    
    }
    .about-img img {
        max-width: 100%;
        display: flex;
        padding-bottom: 5%;
        justify-content: center;
        align-items: center;
    }
    .about-text  {
        
        font-size: 16px;
        width: auto;
    
    }
    .about-text p {
        text-align: justify;
        color: aliceblue;
        font-size: 18px;
    
        line-height: 2;
        margin-bottom: 4rem;
    }
    

    #services {
        color: aliceblue;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 4rem;
        position: relative;
        width: 100%;
        justify-content: space-between;
        height: auto;
        display: flex;
        align-items: center;
        padding: 20px 5% 0;
    
    
    
    }
    .sub-title h1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 60px;
        
    }
    
    .sub-title span {
        color: #0ef;
    
    }
    
    .container {
        padding: 40px;
    }
   
    .services-list i {
        display:flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 700;
        padding-top: 0.25em;
        line-height: 1.7;
    }

    .services-list h2{
        text-align: center;
    }

    

    /*
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    padding: 70px 10% 0;


}

.about-img img {

    max-width: 630px;
    padding-bottom: 20%;
    height: auto;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;

}

.about-text p {
    color: aliceblue;
    font-size: 20px;

    line-height: 1.4;
    margin-bottom: 4rem;
}

    .main-text {

    height: 100vh;

    padding: 70px 10% 0;

    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}

.main-text h2 {
    padding-bottom: 70px;
    font-size: 60px;
    line-height: 1;
    text-align: center;


}

.main-text h2 span {
    color: #0ef;
}




*/
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;


    }

.contact-text h2{
    font-size: 60px;
}
.contact-form{
    display: none;
}
}
/*@media screen and (max-width: 768px) {


.about{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .about-img{
   display: flex;
   max-width: 50%;
   width: 50%;
   margin: 0;
   justify-content: center;
   align-items: center;
   padding:0%;
   
 }
 .about-text h2 {
   font-size: 80px;
   line-height: 1.7;
}
 .about-text h4 {
   font-size: 50px;
   
   font-weight: 600;
   color: #fff;
   line-height: 1.7;
   margin: 15px 0 30px;

}
 .about-text p{
   display: flex;
   
   font-size: 45px;
   font-weight: 500;
   color: #fff;
   line-height: 2;  
   width: 100%;
 }


}*/